@import url('https://fonts.googleapis.com/css2?family=Borel&family=Quicksand:wght@500&family=Roboto+Condensed&display=swap');
.App {
  text-align: center;
  font-family: 'Borel', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

body{
  display: flex;
  margin: 0;
}